@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.colLine {
  border-top: 1px solid @navMorkGra;
  margin-left: 8px;
  margin-right: 18px;
  margin-top: 4px;
  min-height: 8px;
}

.avslaat_icon {
  margin-right: 11px;
}

.maaFastsettes {
  padding-left: 0;
  text-align: right;
}
