@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: @navMorkGra;
  color: @white;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

.dekorator {
  padding: 10px 20px;
}

.logo {
  border-right: 1px solid @navGra20;
  margin-right: 10px;
  padding: 0 10px;
}

.headerIkon {
  cursor: pointer;
  height: 30px;
  padding: 0 6px;
}

.navAnsatt {
  border-left: 1px solid @navGra20;
  margin-left: 7px;
  padding-right: 20px;
}


