@import '@{coreModulePath}nav-frontend-core/less/_variabler';
// dette stylsheetet brukes også av AvvikopplysningerAT, AvvikopplysningerTB ,AvvikopplysningerFL, AvvikopplysningerSN
.colLable {
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 15em;
}

.colValue {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 5em;
}

.avvikLinjeRad {
  margin-left: 0;
  margin-right: 8px;
}

.colLine {
  width: 19.5em;
}

.colAvvik {
  float: left;
  margin-left: 25px;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 4em;
}

.colBorderTopLeft {
  border-top: 1px solid @navMorkGra;
  margin-left: 8px;
  margin-top: 4px;
  min-height: 8px;
}

.colBorderTop {
  border-top: 1px solid @navMorkGra;
  margin-left: 0;
  margin-right: 0;
  margin-top: 4px;
  min-height: 8px;
}

.colNoBorderTop {
  margin-top: 4px;
}

.beregnetLuftOver {
  padding-top: 4px;
}
