@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.chartWrapper {
  height: 12px;
  width: 100%;
}

.chartColumn {
  left: -35px;
  padding: 0;
}

.maanedColumn {
  padding-right: 0;
}

.aarDevider {
  border-top: 1px inset @navGra40;
  margin: 0 0 0 8px;
}
