@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.statusFargeAAP {
  background-color: @navGra20;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeAAP > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeMS {
  background-color: @navGra20;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeMS > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeDP {
  background-color: @navGra20;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeDP > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeKUN_YTELSE {
  background-color: @navGra20;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeKUN_YTELSE > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeAT {
  background-color: @navDypBlaLighten60;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeAT > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeFL {
  background-color: @navLillaLighten60;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeFL > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.statusFargeSN {
  background-color: @navLimeGronnLighten60;
  border-radius: 4px;
  color: @navMorkGra;
  height: 24px;
  margin-right: 4px;
}

.statusFargeSN > span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}

.setBoxHeight {
  height: 230px;
}

.bottomText {
  margin-top: 50px;
}
