@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.linkElement {
  background-color: @navGra20;
  border: 2px solid transparent;
  border-bottom: 0;
  border-radius: @border-radius-base @border-radius-base 0 0;
  margin-right: 12px;
  padding: 6px 12px;

  &:hover {
    background-color: @navGra20;
    color: black;
  }

  &:active {
    background-color: white;
  }

  &:focus {
    border-color: @navOransje;
  }
}

.disabled {
  .linkElement;

  color: white;

  &:hover {
    background-color: @navGra20;
    color: white;
  }
}

.link {
  .linkElement;

  color: @navBla;
  text-decoration: none;

  &.isActive,
  &:active {
    background-color: white;
    color: black;
  }

  &.isActive {
    text-decoration: none;
  }

  &:focus {
    background-color: white;
    color: @navBla;

    &:hover {
      color: black;
    }
  }
}
