@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.marginTop {
  margin-top: 5px;

  td {
    vertical-align: middle;
  }
}

.marginBottom {
  margin-bottom: 4px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.uttakDataWrapper {
  margin-bottom: 12px;
  margin-top: 12px;
}

.orangeDetailsPeriod {
  background-color: @navOransjeLighten80;
  padding: 12px;
}

.greenDetailsPeriod {
  background-color: @navGronnLighten80;
  padding: 12px;
}

.redDetailsPeriod {
  background-color: @navRodLighten80;
  padding: 12px;
}
