@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  animation-duration: 1s;
  animation-name: fadein;
  border: 1px solid @navGra20;
  border-radius: @border-radius-base;
  color: black;
  margin-top: 8px;
  padding: 20px;
}

.explanationTextarea {
  min-height: 100px;
  resize: none;
}
