@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  max-width: 1000px;
}

.panel {
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
}

.panelMedGulmarkering {
  border: 1px solid black;
  border-left-color: @navOransjeLighten20;
  border-left-width: 5px;
  padding: 1px 1px 1px 1px;
}
