.arrowLine {
  composes: panel panel-relatert from '@fpsak-frontend/assets/styles/arrowLineModigDesign.less';
  margin-left: 120px;
  padding-left: 15px;
  padding-top: 10px;
  width: 400px;
}

.arrowLineReadOnly {
  composes: panel panel-relatert from '@fpsak-frontend/assets/styles/arrowLineModigDesign.less';
  padding-left: 15px;
  padding-top: 10px;
  width: 300px;
}

.arrowLine:before {
	left: 69px;
}

.arrowLineReadOnly:before {
	left: 30px;
}

.radioGroup {
  padding-right: 15px;
}
