.previewLink {
  margin-left: 16px;
}

.previewLinkDisabled {
  color: grey;
  margin-left: 16px;
}

.selectReadOnly {
  color: #f00;
}

.confirmVilkarForm {
  textarea {
    min-width: 380px;
  }
}

.panel {
  margin-top: 16px;
}

.fritekstTilBrevTextArea {
  width: 80%;
}

.explanationTextarea {
  min-height: 300px;
}
