@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.splitPeriodImage {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 4px;
  padding-bottom: 4px;
}

.splitPeriodPosition {
  margin-left: -30px;
}
