@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.panelWithActionNeeded {
  border: 5px @orangeFocus;
  border-left-style: solid;
  border-radius: @border-radius-base;
  margin-top: 16px;
}
