@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.statusAksjonspunkt {
  animation-duration: 1s;
  animation-name: fadein;
  animation-timing-function: ease-out;
  background-color: @navLysGra;
  border-color: @navOransjeLighten20;
  border-left-style: solid;
}

.statusOk {
  animation-duration: 1s;
  animation-name: fadein;
  animation-timing-function: ease-out;
}

.behandlingsupportIndex {
  background-color: @navLysGra;
}

.container {
  background-color: white;
  margin-top: -16px;
  min-width: 100%;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  width: 100%;
}
