@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.flexContainer {
  display: flex;
  flex-flow: column wrap;
}

.showErrorBackground {
  background-color: @pinkErrorBg;
  box-shadow: 0px 0px 0px 8px @pinkErrorBg;
}
