@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.utbetalingTabell > tbody > tr > td {
    border-bottom: none !important;
    border-top: none !important;
    padding: 0px;
    padding-bottom: 8px;
}

.utbetalingTabell {
    border-bottom: none !important;
    margin-bottom: 0px;
}

