@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.panel {
  border: 1px solid @navGra20;
  border-radius: 5px;
  margin-top: 16px;
}

.icon {
  padding-left: 10px;
}

.undertekstMedRom > p {
  margin-top: 15px;
}

.kolonneMedRom {
  margin-bottom: 20px;
}
