@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.pil {
  margin-left: 5px;
}

.blyant {
  margin-right: 5px;
}

.status {
  height: 20px;
  width: 20px;
}

.disabletLink {
  color: @navGra20;
  display: inline;
}
