@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.divider {
  border-left: 1px solid @navGra40;
  border-right: 0 solid @navGra40;
  display: inline;
  float: right;
  height: 67px;
  margin-left: 17px;
  position: absolute;
  top: 5px;
}

.image {
  height: 35px;
  margin-top: 10px;
  width: 35px;
}

.modal {
  width: 630px;
}

.text {
  margin-left: 20px;
  margin-top: 8px;
}

.submitButton {
  margin-top: 30px;
}
