@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.aksjonspunkt {
  padding: 20px;

  &.erAksjonspunktApent {
    border: 3px solid @navOransjeLighten20;
    border-radius: @border-radius-base;
  }
}
