@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.linje {
  background-image: linear-gradient(to right, @navMorkGra 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-repeat: repeat-x;
  background-size: 8px 1px;
  padding: 1px 1px;
}
