@import '@{coreModulePath}nav-frontend-core/less/_variabler';
@import '@{coreModulePath}nav-frontend-paneler-style/src/mixins';

.borderbox {
  .panel-mixin();
  .panel-border-mixin();
  margin-top: 16px;
  width: 100%;
}

.error {
  border: 2px solid @redError;
}

.warning {
  border: 2px solid @orangeFocus;
}
