/* Based on https://www.w3schools.com/css/css_tooltip.asp */
@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.tooltip {
    display: inline-block;
    position: relative;

    .tooltiptext {
        background-color: @navMorkGra;
        border: 1px solid @navMorkGra;
        border-radius: 4px;
        bottom: 100%;
        box-shadow: 5px 2px 10px @navMorkGra;
        color: @white;
        left: 50%;
        margin-bottom: 20px;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
        padding: 0 10px;
        position: absolute;
        text-align: left;
        visibility: hidden;
        width: 250px;
        z-index: 104;

        &::before {
            border-color: @navMorkGra transparent transparent transparent;
            border-style: solid;
            content: ' ';
            filter: drop-shadow(2px 5px 8px @navMorkGra);
            left: 42px;
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
        }

        &::after {
            border-color: @navMorkGra transparent transparent transparent;
            border-style: solid;
            border-width: 12px;
            content: ' ';
            left: 43px;
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
        }
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }

        .hide {
            visibility: visible;
        }
    }
}
