@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.fourPx {
	margin-bottom: 4px;
}

.eightPx {
  margin-bottom: 8px;
}

.sixteenPx {
  margin-bottom: 16px;
}

.twentyPx {
  margin-bottom: 20px;
}

.dashed {
  border-bottom: 3px dashed @navGra20;
  margin-left: -10px;
  margin-top: 13px;
}
