@import '@{coreModulePath}nav-frontend-core/less/_variabler';
// dette stylsheetet brukes av flere av komponentene unde prosess-beregningsgrunnlag
.beregningsgrunnlagPanel {
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 12px;
}

.beregningForm {
  padding: 20px 0 20px 0;
}

.panelLeft {
  padding: 0 12px 0 20px;
}

.panelRight {
  padding: 0 20px 0 12px;
}

.semiBoldText {
  font-weight: 600;
}

.rightAlignElement > p {
  padding-left: 0;
  text-align: right;
}

.rightAlignTextInDiv {
  text-align: right;
}

.rightAlignElementNoWrap > p {
  text-align: right;
  white-space: nowrap;
}

.setBoxHeight {
  height: 230px;
}

.redError {
  color: @redError;
}

.etikettLiten {
  text-transform: none;
}

.tekstOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.colMaanedText {
  float: left;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 3.7em;
}

.colAarText {
  float: left;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 5.2em;
}

.colDevider {
  border-top: 1px inset @navGra40;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  min-height: 8px;
}

.colLink {
  float: left;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 0;
  position: relative;
  text-align: right;
  width: 2em;
}

.colTidsbegrenset {
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: right;
}
