@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.beregningsgrunnlagPanel {
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
}

.panel {
  padding-left: 0;
}

.semiBoldText {
  font-weight: 600;
}

.rightAlignElement > p {
  text-align: right;
}

.rightAlignTextInDiv {
  text-align: right;
}

.rightAlignElementNoWrap > p {
  text-align: right;
  white-space: nowrap;
}

.setBoxHeight {
  height: 230px;
}

.redError {
  color: @redError;
}

.etikettLiten {
  text-transform: none;
}

.tekstOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
