@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: @white;
  border-radius: 4px;
}

.content {
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  width: 100%;
}
