@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: @white;
}

.content {
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 40px;
  padding-top: 40px;
  width: 100%;
}

.sideMenu {
  min-width: 163px;
}
