@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  border-bottom: 1px solid @navGra60;
}

.meny {
  margin-bottom: 23px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
}
