@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: @white;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 40px;
  padding-top: 40px;
}

.sideMenu {
  flex: 0 0 auto;
}
