.resultatFraGodkjenningTextContainer {
  margin-bottom: 24px;
}

.approvalContainer {
  background-color: white;
  margin-top: -16px;
  min-width: 100%;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  width: 100%;
}
