.suffix {
  align-content: center;
  margin: auto;
  margin-left: -8px;
  padding-bottom: 8px;
}

.suffixText {
  align-content: center;
  margin: auto;
  margin-left: -60px;
}

.labelPadding {
  padding-top: 15px;
}
