.suffix {
  align-content: center;
  margin: auto;
  margin-left: -8px;
  padding-bottom: 8px;
}

.suffixSimpelText {
  align-content: center;
  margin: auto;
  margin-left: -8px;
  margin-top: 57px;
  padding-bottom: 8px;
}

.suffixGrovText {
  align-content: center;
  margin: auto;
  margin-left: -62px;
}

.labelPadding {
  padding-top: 15px;
}
