.inntektTable {
  width: 600px;
}

.inntektField {
  padding-bottom: 0;
  padding-top: 0;
}

.inntektField {
  padding-bottom: 0;
  padding-top: 0;

  .adjustedField > div > p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

.inntektTable > tbody > tr > td {
  position: relative;
  top: -1px;
  vertical-align: middle;

}

.inntektTable > thead > tr > td:first-child {
  padding-left: 0;
}

.inntektTable > thead > tr > td:not(:first-child) {
  text-align: right;
}

.inntektTable > tbody > tr > td:first-child {
  padding-left: 0;
}

.inntektTable > tbody > tr > td:not(:first-child) {
  text-align: right;
}

.inntektTable > tbody > tr > td:not(:first-child) > div {
  margin-bottom: 8px;
}

.inntektTable > tbody > tr > td:not(:first-child) > div > div > input {
  text-align: right;
}

.inntektTablePanel {
  max-width: 80%;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 16px;
}
