@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.modalLabel {
  align-self: center;
  padding: 18px 0;
}

.iconContainer {
  padding: 10px;
}

.icon {
  border-right: 1px solid @navGra40;
  padding: 8px 18px;
}

.fullWidth {
  flex: none;
}

.modal {
  width: 750px;
}

.textAreaStyle {
  width: 100%;
}

.right {
  flex: auto;
  text-align: right;
}

.button {
  margin-right: 10px;
  padding-left: 36px;
  padding-right: 36px;
}
