@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.row {
  display: flex;
  flex-flow: row nowrap;

  > .col {
    flex: 0 0 auto;
    margin-right: 15px;
  }

  .inlineLabel {
    margin-top: 4px;
  }
}
