@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.headerWrapper {
  display: flex;
}

.iconContainer {
  min-width: 60px;
  padding-left: 10px;
  text-align: left;
}

.fieldColumn {
  position: relative;
}

.radioGroupMargin {
  margin-bottom: 11px;
}

.hovedknappMargin {
  margin-right: 10px;
}

.editIcon,
.removeIcon {
  cursor: pointer;
  vertical-align: top;
}
