.notLastRow {
  margin-bottom: -20px;
}

.halfColumn {
  flex: 0 0 50%;
}

.smallColumn {
  flex: 0 0 20%;
}

.tilretteleggingTittel {
  font-size: 15px;
  font-weight: bold;
}

.removeButtonMargin {
  margin-top: 20px;
}

.buttonMargin {
  margin-left: -10px;
  margin-top: 39px;
}

.textField {
  width: 100px;
}

.enabletImage {
  cursor: pointer;
  margin-left: -10px;
  margin-top: 38px;
}
