@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.dodMerke {
  background-color: @navMorkGra;
  color: @white;
}

.panelWrapper {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 15px 0;
}

.panel {
  border: 1px solid @navGra20;
  border-radius: @border-radius-base;
  display: inline-block;
  margin-right: 16px;
  width: 40%;

  > div {
    margin-top: 5px;
  }

  &:first-of-type {
    width: 50%;
  }

  &:last-of-type {
    margin-right: 0;
    width: 50%;
  }
}

.noChildrenInTps {
  padding-left: 14px;
}
