@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.disabledPanel {
  margin-top: 8px;
}

.disabledPanelText {
  color: @navGra40;
}

.statusAksjonspunkt {
  border-color: @navOransjeLighten20;
  border-left-style: solid;
  border-radius: 5px;
  border-width: 5px;
  margin-top: 8px;
}

.aksjonspunkt--uttak {
  border: 0;
  position: relative;

  &.aksjonspunkt--5086 {

    &:after {
      border-left: 5px solid @navOransjeLighten20;
      border-radius: 5px 0 0 5px;
      content: '';
      height: 294px;
      left: 0;
      position: absolute;
      top: 0;
    }

    &:global(.ekspanderbartPanel--lukket) {

      &:after {
        height: 57px;
      }
    }
  }
}

.statusOk {
  margin-top: 8px;
}
