access_log off; # Handled by trafic
error_log /dev/stdout info;
charset utf-8;
client_body_buffer_size 10M; # Default er satt veldig lavt. Får problemer med enkelte dokument queries.
lua_package_path '~/lua/?.lua;;';
lua_shared_dict discovery 1m;
lua_shared_dict jwks 1m;
lua_code_cache on; # Need to be set for session storage to work.
lua_use_default_type off;
proxy_buffering off;
resolver "${RESOLVER}:53" ipv6=off;
resolver_timeout 3s;
tcp_nodelay off; ## No need to bleed constant updates. Send the all shebang in one fell swoop.
tcp_nopush off;
gzip off;
gzip_proxied any;
absolute_redirect off;

gzip_types
    text/css
    text/javascript
    text/xml
    text/plain
    application/javascript
    application/x-javascript
    application/json
    application/xml
    application/rss+xml
    application/atom+xml
    font/truetype
    font/opentype
    image/svg+xml;

server {
    listen "${APP_PORT}";
    root "${APP_DIR}";
    server_name  _;

    # Set some varable for usage in OpenResty modules.
    set $app_baseurl                https://$host;
    set $app_callback_path          "${APP_CALLBACK_PATH}";
    set $app_hostname               "${APP_HOSTNAME}";
    set $app_path_prefix            "${APP_PATH_PREFIX}";
    set $oidc_agentname             "${OIDC_AGENTNAME}";
    set $oidc_host_url              "${OIDC_HOST_URL}";
    set $oidc_password              "${OIDC_PASSWORD}";
    set $proxy_cookie               "";
    set $session_check_scheme       off;
    set $session_check_ua           off;
    set $session_cookie_lifetime    43200; # 12t
    set $session_cookie_persistent  off;
    set $session_cookie_secure      on;
    set $session_redis_host         "${REDIS_HOST}";
    set $session_redis_port         "${REDIS_PORT}";
    set $session_secret             "${OIDC_PASSWORD}";
    set $session_storage            "${SESSION_STORAGE}";

    # Proxy headers. Will be overwritten if you set them in blocks.
    proxy_hide_header       Content-Security-Policy;
    proxy_hide_header       Set-Cookie;
    proxy_http_version      1.1;
    proxy_ignore_headers    Set-Cookie; # We don't want the backend to set cookies.
    proxy_intercept_errors  on;
    proxy_pass_header       Nav-Callid;
    proxy_set_header        Connection "";
    proxy_set_header        Cookie $proxy_cookie;
    proxy_set_header        Referer $http_referer;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-NginX-Proxy true;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_ssl_verify        off;

    # complete disable cache and send some debug headers
    add_header              Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
    add_header              Last-Modified $date_gmt;
    add_header              X-Application-Id "${APP_NAME}:${APP_VERSION}, pod=${APP_HOSTNAME}";
    add_header              X-Cache-Status $upstream_cache_status;
    etag                    off;
    expires                 off;
    if_modified_since       off;
    sendfile                off;

    # Health check for NAIS
    location = "${APP_PATH_PREFIX}health/isAlive" {
        return 200 "Application:UP";
        default_type text/plain;
    }

    # Readiness check for NAIS
    location = "${APP_PATH_PREFIX}health/isReady" {
        return 200 "Application:READY";
        default_type text/plain;
    }

    ## All static files will be served directly and cached
    location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|xml|otf|ttf|eot|woff|svg)$ {
        expires 365d;
        ## Set the OS file cache.
        open_file_cache max=3000 inactive=120s;
        open_file_cache_valid 45s;
        open_file_cache_min_uses 2;
        open_file_cache_errors off;
    }

    # Just slap frontend directly to the prefix
    location = / {
        return 301 "${APP_PATH_PREFIX}/";
    }

    # To make sure any assets can get through :)
    location "${APP_PATH_PREFIX}" {
        access_by_lua_file oidc_access.lua;
        try_files $uri @rewrites;
    }

    # If no asset matches, send it to your javascript app. Hopefully it's a route in the app!
    location @rewrites {
        rewrite ^(.+)$ "${APP_PATH_PREFIX}index.html" last;
    }

    location @401_json {
        default_type application/json;
        return 401 '{"feilmelding":"Bruker ikke innlogget","type":"MANGLER_TILGANG_FEIL"}';
    }

    location @403_json {
        default_type application/json;
        return 403 '{"feilmelding":"Innlogget bruker har ikke tilgang til ressursen","type":"MANGLER_TILGANG_FEIL"}';
    }

    location @404_json {
        default_type application/json;
        return 404 '{"feilmelding":"Kunne ikke finne ressursen, beklager.","type":"IKKE_FUNNET_FEIL"}';
    }

    location @504_json {
        default_type application/json;
        return 504 '{"feilmelding":"Timet ut","type":"GENERELL_FEIL"}';
    }

    include /nginx/*.nginx;
}
