# Simple Proxy to backend
location  /fpsak/api/ {
    access_by_lua_file oidc_access.lua;
    proxy_pass "${APP_URL_FPSAK}/fpsak/api/";

    ## error handling
    error_page 401 @401_json;
    error_page 404 @404_json;
    error_page 504 @504_json;
}

# Simple Proxy to backend for test purposes
location  /fptilbake {
    access_by_lua_file  oidc_access.lua;
    proxy_pass          "${APP_URL_FPTILBAKE}/fptilbake";

    ## error handling
    error_page 401 @401_json;
    error_page 403 @403_json;
    error_page 404 @404_json;
    error_page 504 @504_json;
}

# Simple Proxy to backend for test purposes
location  /fpoppdrag {
    access_by_lua_file  oidc_access.lua;
    proxy_pass          "${APP_URL_FPOPPDRAG}/fpoppdrag";

    ## error handling
    error_page 401 @401_json;
    error_page 403 @403_json;
    error_page 404 @404_json;
    error_page 504 @504_json;
}


# Simple Proxy to backend middlertidig fix frem til bedre løsning kommer på plass.
location  /fpsak/oppgaveredirect {
    access_by_lua_file oidc_access.lua;
    proxy_pass          "${APP_URL_FPSAK}/fpsak/oppgaveredirect";
    proxy_redirect      "~*/fpsak/#/(.+)$" "$app_baseurl/fpsak/$1";
}
