@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.linkContainer {
  background: @navLysGra;
  border-radius: 3px;
  display: inline;
  height: 20px;
  margin-left: 15px;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  width: 34px;
}

.linkText {
  color: rgb(0, 103, 197);
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  letter-spacing: 0.4px;
  line-height: 14px;
  text-decoration: none;
  width: 17px;
}

.linkArrow {
  line-height: 10px;
  margin-left: 2px;
}
