@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.readOnlyContainer {
  display: inline-block;

  .readOnlyContent {
    border-left: 4px solid @navGra20;
    margin-bottom: 16px;
    padding-bottom: 0;
    padding-left: 16px;
    white-space: pre-wrap;
  }

  .endretAvContent {
    margin-top: 6px;
    padding-left: 6px;
  }
}
