@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.helpTextImage {
  margin-left: 4px;
}

.tooltipContent {
  font-weight: normal;

  span:first-child {
    margin-bottom: 8px;
  }
}

.varsel {
  min-width: 350px;
  top: 70px;
}

.bold {
  font-weight: bold;
}

.previewLink {
  color: @navBla;
  font-weight: bold;
}
