@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.behandlingspunkt {
  min-width: 90px;
  position: relative;
  text-align: center;

  &:after {
    background: @navGra60;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 66px;
    top: 12px;
    width: 44px;
  }

  &:first-child:after {
    display: none;
  }

  img {
    cursor: pointer;
    height: 26px;
    outline: none;
    width: 26px;
  }

  &.active {
    &:before {
      background-color: @white;
      border: 1px solid @navGra60;
      border-bottom-width: 0;
      border-right-width: 0;
      bottom: -32px;
      content: '';
      height: 1rem;
      left: 50%;
      margin-left: -12px;
      position: absolute;
      transform: rotate(45deg) translateY(-100%) translateZ(0);
      transform-origin: 0 0;
      width: 1rem;
      z-index: 2;
    }
  }
}

.label {
  font-size: 0.775rem;
  margin-top: 6px;
  min-width: 90px;
}
