@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.feilutbetalingTable {
  td:first-child {
    padding-left: 0;
  }

  td:last-child {
    padding-right: 0;
    text-align: right;
  }
}

.redText {
  color: @navRod;
}
