@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.smallMarginBottom {
  margin-bottom: 16px;
}

.smallMarginTop {
  margin-top: 16px;
}

.undertekstMarginBottom {
  margin-bottom: 8px;
}

.smallPaddingRight {
  padding-right: 8px;
}

.redText {
  color: @navRod;
  font-weight: bold;
}
