@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.leggTilArbeidsforholdButton {
  background: @white url('@fpsak-frontend/assets/images/add-circle.svg') no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-bottom: 15px;
  padding-left: 7px;
  width: 225px;
}
