.arrowLine {
  composes: panel panel-relatert from '@fpsak-frontend/assets/styles/arrowLineModigDesign.less';
  margin-bottom: 18px;
  margin-top: 5px;
  padding: 15px 20px 10px 20px;
  width: 40%;
}

.selectOmgjort:before {
  left: 1px;
}

.selectNkOmgjort:before {
  left: 1px;
}

.selectOpphoert:before {
  left: 320px;
}

.selectNkOpphoert:before {
  left: 320px;
}

.selectAvvis:before {
  left: 337px;
}

.selectNkAvvis:before {
  left: 320px;
}

.previewLink {
  bottom: 16px;
  display: block;
  left: 208px;
  position: absolute;
}

.selectReadOnly {
  text: red;
}

.confirmVilkarForm {

  textarea {
    min-width: 380px;
  }
}

.panel {
  margin-top: 16px;
}

.fritekstTilBrevTextArea {
  width: 80%;
}

.explanationTextarea {
  min-height: 300px;
}
