@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.daysSum {
  margin-top: 10px;
}

.infoSummary {
  background-color: @navLysGra;
  height: auto;
  max-width: 700px;
  min-width: 500px;
  padding: 10px 20px 10px;
  top: 0; // lesshint zeroUnit: false
}

.table {
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}
