@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.dataDisplayContainer {
  border: 1px solid darkgray;
  border-radius: @border-radius-base;
  padding: 8px;
}

.timeLineDataContainer {
  padding: 8px;
}

.image {
  margin-right: 6px;
}
