@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.divider {
  border-left: 1px solid @navGra40;
  border-right: 0 solid @navGra40;
  display: inline;
  float: right;
  height: 40px;
  margin-left: 10px;
  position: absolute;
}

.modal {
  width: 500px;
}

.messageRow {
  padding-top: 7px;
}

.modalText {
  padding-top: 8px;
}
