@removeBtnSize: 17px;

.buttonRemove {
  background: #ffffff url('../../../../../images/remove.svg') no-repeat;
  background-size: 100% 100%;
  border: 0; // lesshint zeroUnit: false
  cursor: pointer;
  display: inline-block;
  height: @removeBtnSize;
  margin-bottom: 1.8rem;
  margin-top: 20px;
  padding: 0px;
  vertical-align: top;
  width: @removeBtnSize;
}

.prosentHeader {
  width: 120px;
}

.graderesHeader {
  width: 200px;
}

.graderesCheckbox {
  margin-bottom: 2.5rem;
}

.graderesCheckboxMedFeil {
  margin-bottom: 4.35rem;
}

.inputfieldMedFeil {
  margin-bottom: 2.9rem;
}

.datefieldMedFeil {
  margin-bottom: 2.0rem;
}

.buttonMedFeil {
  background: #ffffff url('../../../../../images/remove.svg') no-repeat;
  background-size: 100% 100%;
  border: 0; // lesshint zeroUnit: false
  cursor: pointer;
  display: inline-block;
  height: @removeBtnSize;
  margin-bottom: 3.65rem;
  margin-top: 20px;
  padding: 0px;
  vertical-align: top;
  width: @removeBtnSize;
}

.notLastRow {
    margin-bottom: 13px;
}
