@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.infoSummary {
  background-color: @navLysGra;
  height: auto;
  max-width: 500px;
  padding: 10px 20px 10px;
  top: 0;
}

.ingenPerioder {
  font-weight: bold;
}

.resultSum {
  margin-top: 15px;

  .number {
    float: left;
    font-weight: bold;
  }

  .redNumbers {
    .positivNumber {
      font-weight: bold;
    }

    .redNumber {
      color: @navRod;
      font-weight: bold;
    }

    .lastNumberRed {
      color: @navRod;
      font-weight: bold;
      padding-left: 15px;
    }

    .lastNumberPositiv {
      font-weight: bold;
      padding-left: 15px;
    }
  }
}

.resultName {
  width: 150px;
}
