.documentLink {
   display: flex;
}


.keyValuePair {
   display: inline-block;
}

.tilbakekrevingTekst {
   margin: 5px 0;
}

.documentLink .dokument {
    background-image: url('@fpsak-frontend/assets/images/dokument_filled.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
}

.documentLink:hover .dokument {
    background-image: url('@fpsak-frontend/assets/images/dokument_outline.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
}
