.inntektTable {
  width: 600px;
}

.inntektTable > tbody > tr > td {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.inntektTable > thead > tr > td:first-child {
  padding-left: 0;
}

.inntektTable > thead > tr > td:not(:first-child) {
  text-align: right;
}

.inntektTable > tbody > tr > td:first-child {
  padding-left: 0;
}

.inntektTable > tbody > tr > td:not(:first-child) {
  text-align: right;
}

.inntektTable > tbody > tr > td:not(:first-child) > div {
  margin-bottom: 8px;
}
