@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.ingenKlassifiseringUtfortTittel {
  border: 1px solid @grayIcon;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 16px;
  padding: 16px;
  width: 100%;
}
