@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.divider {
  border-left: 1px solid @navGra40;
  border-right: 0 solid @navGra40;
  height: 100%;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 3px;
}

.tekst {
  padding-top: 3px;
}
