@removeBtnSize: 17px;
@marginRight: 8px;

.datesRowWithRemoveButton {
  box-sizing: border-box;
  display: inline-block;
  margin-right: @marginRight;
  width: ~'calc(100% - '@removeBtnSize~' - '@marginRight~')';
}
