@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  flex-wrap: wrap;
}

.fieldColumn {
  position: relative;
  width: 50%;
}

.textAreaStyle {
  min-width: 300px;
  width: 100%;
}

.addPeriodeSykdom {
  position: absolute;
  top: 186px;
}

.addPeriodeInnleggelse {
  position: absolute;
  top: 76px;
}

.endreSoknadsperiode {
  position: absolute;
  top: 94px;
}

.datePickerField {
  min-width: 136px;
}

.notLastRow {
  margin-bottom: -8px;
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.oppdaterMargin {
  margin-right: 10px;
}

.suffix {
  align-self: center;
  margin-left: -8px;
  padding-top: 8px;
}
