.behandlingList {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 24px;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
  }
}

.behandlingList > li:not(:first-child) {
  margin-top: 16px;
}
