@import '@{coreModulePath}nav-frontend-core/less/core';

.image {
  cursor: pointer;
  margin-left: 5px;
}

.starImage {
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
  width: 25px;
}

.imgDiv {
  float: right;
}

.smallMarginBottom {
  margin-bottom: 16px;
}

.paddingBottom {
  padding-bottom: 16px;
}

.undertekstPaddingBottom {
  padding-bottom: 8px;
}

.boxPadding {
  padding: 16px;
}

.boxPaddingWithSelected {
  background-color: @navLysGra;
  padding: 16px;
}
