@import '@{coreModulePath}nav-frontend-core/less/core';

.starImage {
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
  width: 25px;
}

.resultatStatusImage {
  height: 16px;
  width: 16px;
}

.pushRight {
  margin-left: auto;
}

.pushRightCorner {
  margin-left: auto;
  margin-top: auto;
}

.line {
  border: 0;
  border-top: 1px solid @navGra20;
  height: 1px;
}

.arsakPadding {
  padding: 0 0 0 8px;
}

.timePadding {
  padding-left: 10px;
}

.resultatPadding {
  padding-left: 5px;
}

.inline {
  display: inline;
}

.firstColumnWidth {
  width: 150px;
}
