@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  width: 200px;
  z-index: 2;

  .containerHeading {
    color: @navBla;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0;
    padding: 7px 5px 7px 10px;
    text-align: center;
    text-transform: none;
    width: 200px;

    &.menuVisible {
      background-color: @navBla;
      color: @white;
    }

    .image {
      float: right;
      margin-top: 4px;
      width: 20px;
    }

    &:hover {
      background-color: @navBla;
      border-color: @navBla;
      color: @white;
    }
  }

  .containerMenu {
    position: absolute;
    z-index: 300;

    &.hide {
      display: none;
    }

    .containerMenuRelative {
      background-color: @white;
      border: 1px solid @navGra20;
      border-radius: @border-radius-base;
      color: @navBla;
      cursor: pointer;
      left: -60px;
      padding: 10px 10px 10px 10px;
      position: relative;
      width: 260px;
      z-index: 1;
    }
  }
}
