@import '@{coreModulePath}nav-frontend-core/less/_variabler';

// TODO petter
.default {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 16px;
  padding: 20px;
  width: 100%;
}

.error {
  border: 2px solid @redError;
}

.warning {
  border: 2px solid @orangeFocus;
}
