@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.selected {
  border-bottom: 4px @navBla solid;
}

.container {
  background: @white;
  border-radius: @border-radius-base;
  display: flex;
}

.invisibleButton {
  background: none;
  border: 0;
  margin-bottom: 24px;

  &:focus {
    background-color: @navOransjeLighten40;
    border: 0;
    color: @navBla;
    padding-bottom: 4px;
    text-decoration: none;

    &:hover {
      color: @navBla;
    }
  }
}

.primary {
  display: flex;
  flex: 0 0 55%;
  position: relative;
}

.primaryfull {
  .primary;

  flex: 0 0 100%;
}

.secondary {
  .primary;

  flex: 0 0 45%;
}

.personprimary,
.personprimaryfull,
.personsecondary {
  cursor: pointer;
  flex: 0 0 100%;
}

.personchevron {
  cursor: pointer;
  padding-left: 1px;
  padding-top: 25px;
  position: absolute;
  right: 16px;
}

.personchevronfull {
  .personchevron;

  padding-left: 8px;
}

.statusAksjonspunkt {
  border-color: @navOransjeLighten20;
  border-left-style: solid;
  border-radius: 5px;
  border-width: 5px;
  margin-top: 8px;
}
