@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.gridContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.leftColumn {
  float: left;
  overflow: hidden;
  width: 67%;
}

.rightColumn {
  float: right;
  width: 33%;

  & > div {
    margin-bottom: 16px;
  }
}

@media all and (max-width: 1350px) {
  .leftColumn {
    width: 100%;
  }

  .rightColumn {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (min-width: 1350px) {
  .rightColumn {
    border-left-color: @navGra60;
    border-left-style: solid;
    border-left-width: 1px;
  }
}

@media all and (max-width: 1350px) {
  .rightColumn {
    border-top-color: @navGra60;
    border-top-style: solid;
    border-top-width: 1px;
  }
}
