@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.navetLink {
  border-bottom: 1px solid @navGra40;
  color: @navBla;
  display: block;
  float: right;
  padding-bottom: 1px;
  text-decoration: none;
}

.navetLink:hover {
  border-bottom: 1px solid @navBla;
}
