@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.container {
  background-color: #d6d4d4;
  width: 100%;
}

// arrowlines
.arrowLine() {
  composes: panel panel-relatert from '@fpsak-frontend/assets/styles/arrowLineModigDesign.less';
  margin-top: 16px;
}
/* stylelint-disable */
@arrows: 'opplysningsplikt'
        , 'fodsel'
        , 'medlemskap'
        , 'opptjening'
        , 'beregning'
        , 'tlkjentytelse'
        , 'fortsattmedlemskap'
        , 'uttak'
        , 'vedtak'
        , 'addprocesshere';

.arrowLines (@i: length(@arrows) + 1) when (@i > 0) {
  .arrowLine_@{i} {
    .arrowLine;
  }

  .arrowLine_@{i}:before {
    left: ((@i - 1) * 112px) + 38px;
  }
  .arrowLines(@i - 1);
}

.arrowLines();

.notAccepted {
  border-color: @redError;
  border-width: 2px;
}

.notAccepted:before {
  border-color: @redError;
  border-left-width: 2px;
  border-top-width: 2px;
}
