@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.behandlingsPunkt {
  background-color: @white;
  border: 1px solid @navGra60;
  border-radius: @border-radius-base;
  margin-top: 16px;
  position: relative;
  width: 100%;

  &.statusAksjonspunkt {
    border-left-color: @navOransjeLighten20;
  }
}
