.buttonRow {
  margin-top: 0;
}

.addPeriode,
.customLink,
.removeButton {
  cursor: pointer;
}

.addCircleIcon,
.imageText {
  display: inline-block;
  margin-right: 1ex;
  vertical-align: text-bottom;
}
